@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins&display=swap");

*,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

h1, 
h2, 
h3, 
h4 {
    margin-bottom: 1.25rem;
    letter-spacing: .25rem;
}

h1 {
    font-size: 3.3rem;
}

h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.2rem;
}

p {
    margin-bottom: 1.25rem;
    line-height: 2;
    font-weight: 300;
}

/* RE-USABLES */
.section {
    padding: 5rem 0;
}

.title-wrapper {
    margin-bottom: 2rem;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
}

.section-center {
    width: 85vw;
    margin: 4rem auto 2rem auto;
    max-width: 1170px;
}

.btn-primary {
    text-transform: uppercase;
    letter-spacing: .25rem;;
    color: #fff;
    background: #afafaf;
    border: 2px solid #fff;
    padding: 0.9rem 1.6rem;
    display: inline-block;
    transition: 0.3s linear all;
    cursor: pointer;
}

.btn-primary:hover {
    background: transparent;
    color: #afafaf;
    border: 2px solid #afafaf;
}

/* NAVBAR */
.navbar {
    background: black;
    padding: 1rem 2rem;
}

.nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1170px;
}

/* .nav-links {
    height: auto;
    display: flex;
} */

.nav-link {
    margin-right: 0.7rem;
    color: #fff;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-link:hover {
    color: #fff;
}

/* .nav-icons {
    display: flex;
} */

.nav-icon {
    margin-right: 0.7rem;
    color: #fff;
}


/* BANNER */
.banner-img {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7)),
    url("./img/pexels-daniel-absi-952670.jpg") center/cover no-repeat;
    display: flex;
    min-height: 100vh;
    /* min-height: calc(100vh - 62px); */
    justify-content: center;
    align-items: center;
}

.banner-container {
    color: #fff;
    text-align: center;
    padding: 0 2rem;
}

.banner-title {
    text-transform: uppercase;
    margin-bottom: 2rem;
    letter-spacing: 0.4rem;
    font-size: 4.5rem;
}

.banner-sub {
    width: 70%;
    margin: 0 auto;
    /* margin-bottom: 2rem; */
    letter-spacing: .25rem;
    line-height: 2rem;
    font-weight: 400;
}

/* ABOUT */
.about {
    background: #FFF;
}

.about-center {
    display: flex;
    justify-content: space-between;
}

.about-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1.5rem;
    left: -1.5rem;
}

.about-img, .about-info {
    margin-bottom: 4rem;
    flex: 0 0 calc(50% - 2rem);
    align-self: center;
    margin-bottom: 0;
    position: relative;
}

.about-photo {
    position: relative;
}

.about-info h3 {
    text-transform: uppercase;
}

/* SKILLS */

.skills {
    background: #191919;
}

.skills-header {
    color: white;
}

.skills-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skill {
    text-align: center;
    margin-bottom: 3rem;
    display: flex;
    text-align: left;
    flex: 0 0 calc(33.333% - 1rem);
}

.skill-icon {
    background: #fff;
    padding: 1rem;
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    align-self: start;
}

.skill-info {
    padding-left: 1rem;
}

.skill-title {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0.5rem;
}

.skill-text {
    width: 90%;
    margin: 0;
    line-height: 1.5;
    font-weight: 300;
    color: #fff;
}

/* PROJECTS */
.projects-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    box-shadow: 2px 5px 3px 0px rgba(0, 0 ,0, 0.25);
    transition: 0.3s linear all;
    margin-bottom: 4rem;
    flex: 0 0 calc(33.3333% - 1rem);
}

.project-card:hover {
    box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.25);
}

.project-card a {
    text-decoration: none;
    color: black;
}

.project-img-container {
    position: relative;
}

.project-title {
    text-transform: capitalize;
}

.proj-date {
    position: absolute;
    left: 0;
    top: 0;
    background: #404040;
    color: white;
    padding: 0.25rem 0.5rem;
}

.card-footer {
    padding: 1.2rem 1.5rem;
}

.proj-link {
    text-align: center;
}

/* CONTACT */

.contact {
    background: #191919;
}

.contact-header {
    color: #fff;
}

.input-group {
    width: 90vw;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
}

.form-control {
    flex: 1 1 auto;
}

.form-control,
.btn-submit {
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.5;
    font-weight: 200;
    border: 2px solid #404040;
    outline: none;
    margin-top: 15px;
}

::placeholder {
    color: #bfbfbf;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    font-size: 0.7rem;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    resize: vertical;
}

.btn-submit {
    cursor: pointer;
    transition: 0.3s linear all;
    background-color: #191919;
    color: #bfbfbf;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 0.8rem;
}

.btn-submit:hover {
    color: #bfbfbf;
    background: #404040;
}


/* FOOTER */
.footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.footer-icons {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-icon {
    font-size: 1rem;
    margin-right: 1rem;
    color: #fff;
    text-decoration: none;
    transition: 0.3s linear all;
}

.copyright {
    text-transform: capitalize;
    letter-spacing: .25rem;
    font-size: 0.8rem;
}




