* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: white;
    text-decoration: none;
}

.navbar {
    background: black;
    padding: 1rem 2rem;
}

.nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1170px;
}

/* .nav-links {
    height: auto;
    display: flex;
} */

.nav-link {
    margin-right: 0.7rem;
}

/* .nav-icons {
    display: flex;
} */

.nav-icon {
    margin-right: 0.7rem;
}

