@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}
a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.navbar {
    background: black;
    padding: 1rem 2rem;
}

.nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1170px;
}

/* .nav-links {
    height: auto;
    display: flex;
} */

.nav-link {
    margin-right: 0.7rem;
    color: #fff;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-link:hover {
    color: #fff;
}

/* .nav-icons {
    display: flex;
} */

.nav-icon {
    margin-right: 0.7rem;
    color: #fff;
}


/* BANNER */
.banner-img {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7)),
    url("./img/pexels-daniel-absi-952670.jpg") center/cover no-repeat;
    display: flex;
    min-height: 100vh;
    /* min-height: calc(100vh - 62px); */
    justify-content: center;
    align-items: center;
}


